#services {
    background: #ededed;
    position: relative;
    overflow: hidden;
}

#services header {
    text-align: left;
}

#services .content span.span {
    font-size: 1.6rem;
    color: var(--green);
    font-weight: 400;
}

#services h2 {
    margin-top: .5rem;
    font-size: 2.5rem;
    color: var(--gray);
    font-weight: 500;

    margin-bottom: 4rem;
}

#services .cards {
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
} 

#services .cards .card {
    padding: 3rem;
    border-radius: 2rem;
    background-color: #f5f5f5;
    text-align: left;
    height: 100%;

    box-shadow:  12px 12px 24px #c9c9c9e9,
    -12px -12px 24px #ffffffe7;
}

#services .cards .card img {
    width: 5rem;
    margin-bottom: 1rem;
}

#services .cards .card h3 {
    font-size: 2rem;
    color: #000;
    margin-bottom: 1rem;
    font-weight: 500;

    position: relative;
}

#services .cards .card h3::before {
    content: '';
    position: absolute;
    width: 3px;
    left: -1.5rem;
    height: 6rem;
    background: var(--orange);
    top: -4rem;
}

#services .cards .card p {
    color: var(--paragraphy);
    font-weight: 400;
    margin-bottom: 2rem;
}

#services .cards .card a {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.6rem;
    font-weight: 600;

    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    width: max-content;

    transition: all 200ms ease-in-out;
}

#services .cards .card a:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

#services .cards .card a:hover ion-icon {
    transform: translateX(8px);
}

#services .cards .card a ion-icon {
    color: var(--orange);

    transition: all 200ms ease-in-out;
}

#services img.iconeDamatta {
    display: none;
}

@media (min-width: 1080px) {
    section#services header {
        text-align: center;
        margin-bottom: 7rem;
    }

    section#services .content header span.span {
        font-size: 1.8rem;
    }
    
    section#services .content header h2 {
        font-size: 3.5rem;
    }

    section#services .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}